@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);
/*  기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* CSS 스타일 */
body {
  font-size: 1.4rem;
  background: #ffc;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
header {
  background: #fff;
  /* 상하 좌우 */
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
  display: flex;
  /* 메인축: 행 */
  flex-flow: row nowrap;
  /* 행 정렬 */
  justify-content: flex-end;
}

.member a {
  text-transform: uppercase;
}

/* 비주얼 */
.visual {
  background: orange;
  height: 120px;
}

/* 메인 */
.main {
  background: white;
  min-height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1 {
  background: violet;
  width: 250px;
}

.group2 {
  background: salmon;
  width: 380px;
}

.group3 {
  background: gold;
  width: 190px;
}

/* 신규 이벤트 및 이벤트 */
.gradient-effect {
  border: 1px solid #aaa;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 5px;
  padding: 10px;
}

.text-xl {
  font-size: 1.5rem;
}

.accent-color {
  color: #a52a52;
}

.margin-top-default {
  margin-top: 20px;
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.event-title {
  background-color: pink;
}

.event-button-wrapper {
  background-color: yellow;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 5px;
}

#eventDetail {
  background-color: aquamarine;
}

.event-button {
  border: 0;
  height: 18px;
  width: 19px;
  padding: 0;
  text-indent: -9999px;
  background: aqua url('./images/back_forward.png') no-repeat;
}

.event-button-next {
  background-position: 100% 0;
}

.event-thumbnail,
.event-brief {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 0 0 #ccc;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/* 푸터 */
.footer {
  background: gray;
}

.footer-inner {
  height: 15vh;
  background: silver;
}
