@import url(./normalize.css);
@import url(./reset.css);
/*  기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS 스타일 */
body {
  background: #ffc;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
header {
  background: pink;
  /* 상하 좌우 */
  padding: 0 30px;
  height: 15vh;
}

/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background: lightgreen;
  min-height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1 {
  background: violet;
  width: 250px;
}

.group2 {
  background: salmon;
  width: 380px;
}

.group3 {
  background: gold;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/* 푸터 */
.footer {
  background: gray;
}

.footer-inner {
  height: 15vh;
  background: silver;
}
